<% include ../../templates/header.ejs %>
<div class="row">
  <div class="col-xs-12 map-container">
    <div id="mapHere" class="col-xs-12"></div>
  </div>
</div>
<% include ../../templates/footer.ejs %>
