<% include ../../templates/header.ejs %>
<div class="row">
  <h1 class="text-center"> Localização </h1>
  <div class="col-xs-12 map-container">
    <div id="mapHere" class="col-xs-12"></div>
  </div>

  <div class="col-xs-12 text-center address-container">
    <h3> DAVILARI </h3>
    <h4>Rua Alguma coisa que o Ju ainda nao passou, 344</h4>
    <h4> Bairro - SP </h4>
  </div>
</div>
<% include ../../templates/footer.ejs %>
