<% include ../../templates/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title-enterprise">Conheça mais sobre a Davilari </h2>
      <div class="text">
        <p> Os moveis da Davilari são produtos voltados para o design, qualidade e satisfação de nosso maior patrimônio, que são nossos clientes. Por este motivo fabricamos todos os produtos com o que há de melhor no mercado, tendo como resultado final um produto extraordinariamente bem acabado, duradouro e com design maravilhoso.</p>

        <p>Temos orgulho de ser uma empresa 100% nacional, e sabe que o consumidor tem bom gosto e requinte, por isso buscamos sempre inovações que atendam as demandas e necessidades do mercado, buscando satisfazer de todas as formas, nossos clientes que são o grande motivo de nosso crescimento e desenvolvimentos constantes.</p>

        <p>Oferecemos mobiliario da melhor qualidade e durabilidade, com materias primas de primeira linha, que se encaixam nas mais rígidas exigências de qualidade. </p>

        <p>Os produtos DAVILARI são produtos de longa durabilidade, especiais para áreas internas, externas, piscinas,condominios, restaurantes, pousadas, hotéis, ou seja, todo tipo de ambiente. Os nossos móveis oferecem um design diferenciado.</p> </div> </div><!-- col --> 
    <div class="col-xs-12 col-sm-4 text">
      <h3 class="uppercase missao">Missão</h3>

      <p>Criar vínculos com os clientes, colaboradores e fornecedores,
      formando parcerias,
      que tornem nossa marca sinônimo de qualidade, requinte e lazer.</p>
    </div>
    <div class="col-xs-12 col-sm-4 text">
      <h3 class="uppercase visao">Visão</h3>
      <p>Ser a maior fornecedor de moveis para area externa do Brasil.</p>
    </div>
    <div class="col-xs-12 col-sm-4 text">
      <h3 class="uppercase valores">Valores</h3>
      <p>Satisfação e preferência do cliente
      Transparência e Responsabilidade
      Excelência no atendimento
      Foco no resultado</p>
    </div>
    <!-- Diferenciais-->
    <div class="col-xs-12">
      <h3 class="uppercase diferenciais">Diferenciais</h3>
      <p>Toda equipe da DAVILARI é treinada para oferecer o melhor atendimento ao cliente,
      aliando o grande diferencial que é a QUALIDADE DOS PRODUTOS.</p>
    </div>
  </div> 
</div>
<% include ../../templates/footer.ejs %>
