<% include ../templates/header.ejs %>

<div class="row r-promo">
  <div class="col-xs-12 promo no-padding">
    <div id="c-promo-image">
<style>
#c-promo-image {

  background-image:url('/resources/img/products/0c76721efd5b4ebb37d717639a48c3cf');
  background-size:100%;
  background-repeat:no-repeat;

}
</style>
<img  id="promo-image"src=""/>
    </div>
    <div id="promo-title">
      <h1>Conjunto Havaianas</h1>
    </div>
  </div>
</div>



<% include ../templates/footer.ejs %>
