@charset="UTF-8";

.table-product-img {
  width:100px;
}
.acabamento-thumb {
  width:100px;
  height:30px;
}
.login-box {
  width:300px;
  height:300px;
  margin:25% auto;

}

.login-fields {
  margin-top:20px;
}

#password {
}


.error {
  color:red;
}

.form-product-image {
  width:100%;
  height:100%;
}

.form-images > li {
  height:300px;
  list-style:none;
  margin-top:15px;
}

.form-images {
  background-color:#c3c3c3;
  padding:0;
  padding-bottom:10px;
}
.form-ambience-image {
  width:100%;
  height:100%;
}

.form-ambience > li {
  height:300px;
  list-style:none;
  margin-top:15px;
}

.form-ambience-images {
  background-color:#c3c3c3;
  padding:0;
  padding-bottom:10px;
}


.img-modal{
  width:100%;
}
.ambience-img-modal {
  width:100%;
}

.delete-button {
  margin-top:30px;
  width:100%;
}

.modal-header {
  background-color:white;
}

.modal-dialog {
  background-color:white;
}

.footer {
  width:500px;
  height:250px;
}

.icon-bar {
  background-color:black;
  color:black;
}
.nav-admin > ul > li:hover {
  background-color:grey;
  color:red !important;
}

#btn-excluir {
  margin-top:10px;
  margin-bottom:50px;
}
#currentPage {
  color:black;
  text-decoration:underline;
  font-size:20px;
}

.pageLink {
  font-size:16px;
}
