<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Davilari Admin </title>
    <link rel="stylesheet" href="/resources/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/admin.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <header class="col-xs-12">
          <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
              <li><a href="/admin/produtos">Produtos</a></li>
              <li><a href="/admin/ambientes">Ambientes</a></li>
              <li><a href="/admin/acabamentos">Acabamentos</a></li>
              <li><a href="/admin/usuarios">Usuarios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/admin/logout">Logout</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
