<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Davilari Admin </title>
    <link rel="stylesheet" href="/resources/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/admin.css">
  </head>
  <body>
