<% include ../../templates/header %>
<div class="container">
  <div class="row">
    <header class="product-header col-xs-6">
      <h1>Produtos</h1>
    </header>

      <section class="col-sm-6 col-xs-12">
        
      <form action="/admin/produtos" method="GET">
     <span class="glyphicon glyphicon-search"></span>
      <input type="text" id="search" name="search" />
      <input type="submit" class="btn btn-default" id="search-button" type="button"
                                                                      value="Ok" />
      </form>
    </section>

    <article>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function(prod) { %>
          <tr>
            <td> <%= prod.name %> </td>
            <td> <%= prod.description %> </td>
            <td> <%= prod.price %> </td>
            <td>
              <a href="/admin/produto/<%= prod.IdProduct %>">
                <button class="btn btn-default">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </article>

    <footer>
      <a href="/admin/produtos/novo"><button class="btn btn-default">Novo</button>
    </footer>
  </div>
</div>

<% include ../../templates/footer.ejs %>
