    </div>
  </body>

  <script src="/resources/vendor/jquery/jquery-2.2.4.min.js"></script>
  <script src="/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/resources/js/public/products.js"></script>
  <script src="/resources/js/public/cart.js"></script>

</html>
