<footer class="main-footer">
  <div class="row no-padding">
    <div class="col-xs-12 footer-container no-paddding">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 no-padding">
        <h2 class="footer-title">DAVILARI</h2>
        <div class="davilari-box">
          <p> (11) 5093-6348 <span class="glyphicon glyphicon-earphone" /></p>
          <p> (11) 95052-8174 <img src="/resources/img/whatsapp-icon.png" /></p>
          <p> alexandre@davilari.com.br</p>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <h2 class="footer-title">Desenvolvido por:</h2>
        <div class="alex-box">
          <p>Webyang</p>
          <p>www.webyang.com.br</p>
        </div>

      </div>
    </div>

  </div>
</footer>


</div>
</body>

<script src="/resources/vendor/jquery/jquery-2.2.4.min.js"></script>
<script src="/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/resources/js/public/products.js"></script>
<script src="/resources/js/public/cart.js"></script>
<script src="/resources/js/public/contact.js"></script>
<script src="/resources/js/public/map.js"></script>

<script src='http://127.0.0.1:9001/js/socket.js'></script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB15_zdGasATMD42y_x5uuqDvxiDjmB22g&callback=initMap">
    </script>




</html>
