<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Davilari Admin </title>
    <link rel="stylesheet" href="/resources/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/admin.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="login-box">
          <header class="col-xs-12 text-center">
            <img src="/resources/img/logo.jpg"/ class="img img-responsive login-logo">
          </header>
          <article class="col-xs-12  login-fields">
            <form action="/admin/login" id="login-form" method="POST">
              <fieldset class="form-group">
                <input class="form-control" type="text" name="username" id="username" placeholder="Usuario"/>

              </fieldset>
              <fieldset class="form-group">
                <input class="form-control" type="password" name="password" id="password" placeholder="Senha" />
              </fieldset>

              <p class="error" id="error"></p>

              <button class="form-control" id="login-button">Login</button>


            </form>
          </article>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/resources/vendor/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/resources/js/login.js"></script>
  </body>
</html>
