<% include ../../templates/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Acabamentos</h1>
    </div>
  </div>

  <div class="row">
    <div class="debugao hidden">
      <%= JSON.stringify(tiposDeAcabamento) %>
    </div>
    <% for (var i = 0; i < tiposDeAcabamento.length; i++) { %>

      <% if (tiposDeAcabamento[i].acabamentos.length) { %>
    <div class="col-xs-12 box-tipo-acabamento">
      <div class="tipo-acabamento-title">
        <h3 class="text-left">
          <%= tiposDeAcabamento[i].tipoAcabamento; %>
        </h3>
      </div>
      <!-- Acabamentos -->
      <div class="col-xs-12 box-acabamentos">
        
        <% for (var j = 0; j < tiposDeAcabamento[i].acabamentos.length; j++) { %>
        <div class="box-acabamento col-sm-3 col-xs-12">
          <img src="/resources/img/acabamentos/<%= tiposDeAcabamento[i].acabamentos[j].imagem %>" class="img-acabamento" />
          <h4> <%= tiposDeAcabamento[i].acabamentos[j].nome %> </h4>
        </div>
        <% } %>
      </div>
      <% } %>

    </div>
    <% } %>
  </div>
</div>

<% include ../../templates/footer.ejs %>
