
<% include ../../templates/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 contact-container">
      <h1 class="text-center">Contato</h1>
      <h3 class="uppercase contato-title">Envie-nos uma mensagem!</h3>
        <fieldset class="form-group">
          <label>Seu nome</label>
          <input type="text" class="form-control" name="name" id="name-input" placeholder="Seu Nome" />
          <p class="hidden" id="name-validation">Campo obrigatório!</p>
        </fieldset>
        <fieldset class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" id="email-input" placeholder="Email" />
          <p class="hidden" id="email-validation">Campo obrigatório!</p>
        </fieldset>
        <fieldset class="form-group">
          <label>Assunto</label>
          <input type="text" class="form-control" name="subject-input" id="subject-input" placeholder="Sobre o que é a sua mensagem?" />

          <p class="hidden" id="subject-validation">Campo obrigatório!</p>
        </fieldset>

        <fieldset class="form-group">
          <label>Mensagem</label>
          <textarea type="text" class="form-control" name="message" id="message-input" placeholder="Escreva aqui sua mensagem"></textarea>
          <p class="hidden"  id="message-validation">Campo obrigatório!</p>
        </fieldset>
        <fieldset class="form-group">
          <label>Telefone para contato (Opcional)</label>
          <input type="text" class="form-control" name="phone" id="phone-input" placeholder="Telefone" />
          <p class="hidden" id="phone-validation">Campo obrigatório!</p>
        </fieldset>
        <fieldset class="form-group">
          <label>Celular (Opcional)</label>
          <input type="text" class="form-control" name="cellphone" id="cellphone-input" placeholder="Celular" />
          <p class="hidden" id="cellphone-validation">Campo obrigatório!</p>
        </fieldset>
        <button class="btn btn-primary form-control" id="btn-enviar-contato">Enviar Mensagem</button>
        <button class="btn btn-sucess hidden" id="btn-enviado-contato">Mensagem Enviada!</button>
        <a href="/"><button class="form-control btn btn-danger" id="btn-voltar">Voltar</button></a>

    </div>
  </div>
</div>

<% include ../../templates/footer.ejs %>
